* {
  margin: 0;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  height: 90px;
  align-items: center;
}

.trybewarts-header-logo {
  width: 70px;
  margin-left: 50px;
}

.trybewarts-login {
  display: flex;
  margin-right: 50px;
  height: 40px;
}

#login {
  margin: 5px;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
}