* {
  margin: 0;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

body {
  background-color: rgb(235, 235, 235);
}

.trybewarts-header-logo {
  width: 70px;
  margin-left: 50px;
}

.trybewarts-login {
  display: flex;
  margin-right: 50px;
  height: 40px;
}

#login {
  margin: 5px;
}

main {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
  align-content: center;
}

#trybewarts-forms-logo {
  height: 500px;
}

hr {
  margin: 10px;
}

#input-name {
  flex-direction: row;
  width: 45%;
  margin: 0 2px 10px;
  height: 40px;
}

#input-lastname {
  flex-direction: row;
  width: 45%;
  margin: 0 2px 10px;
  height: 40px;
}

#input-email {
  flex-direction: row;
  width: 45%;
  margin: 0 2px 10px;
  height: 40px;
}

#house {
  flex-direction: row;
  width: 45%;
  margin: 0 2px 10px;
  height: 40px;
}

footer {
  text-align: center;
}
